/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost.exe
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/Azure.Core.dll
/bin/Debug/net7.0/Azure.Identity.dll
/.idea/.idea.PaxDeiBot.dir/.idea/encodings.xml
/bin/Debug/net7.0/EntityFramework.dll
/bin/Debug/net7.0/EntityFramework.SqlServer.dll
/bin/Debug/net7.0/Humanizer.dll
/.idea/.idea.PaxDeiBot.dir/.idea/indexLayout.xml
/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net7.0/Microsoft.OpenApi.dll
/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net7.0/Mono.TextTemplating.dll
/obj/Debug/net7.0/staticwebassets/msbuild.build.PaxDeiBot.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.PaxDeiBot.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.PaxDeiBot.props
/bin/Debug/net7.0/Npgsql.dll
/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/obj/Debug/net7.0/PaxDeiBot.AssemblyInfoInputs.cache
/obj/Debug/net7.0/PaxDeiBot.assets.cache
/obj/Debug/net7.0/PaxDeiBot.csproj.AssemblyReference.cache
/obj/Debug/net7.0/PaxDeiBot.csproj.CopyComplete
/obj/Debug/net7.0/PaxDeiBot.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/PaxDeiBot.csproj.FileListAbsolute.txt
/obj/PaxDeiBot.csproj.nuget.dgspec.json
/bin/Debug/net7.0/PaxDeiBot.deps.json
/bin/Debug/net7.0/PaxDeiBot.dll
/obj/Debug/net7.0/ref/PaxDeiBot.dll
/obj/Debug/net7.0/refint/PaxDeiBot.dll
/obj/Debug/net7.0/PaxDeiBot.dll
/bin/Debug/net7.0/PaxDeiBot.exe
/obj/Debug/net7.0/PaxDeiBot.genruntimeconfig.cache
/obj/Debug/net7.0/PaxDeiBot.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/PaxDeiBot.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net7.0/PaxDeiBot.pdb
/obj/Debug/net7.0/PaxDeiBot.pdb
/bin/Debug/net7.0/PaxDeiBot.runtimeconfig.json
/obj/Debug/net7.0/PaxDeiBot.sourcelink.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net7.0/runtimes/win-arm64/native/sni.dll
/bin/Debug/net7.0/runtimes/win-x64/native/sni.dll
/bin/Debug/net7.0/runtimes/win-x86/native/sni.dll
/obj/Debug/net7.0/staticwebassets.build.json
/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net7.0/System.CodeDom.dll
/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/bin/Debug/net7.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/bin/Debug/net7.0/System.Data.SqlClient.dll
/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/bin/Debug/net7.0/System.Drawing.Common.dll
/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net7.0/System.Memory.Data.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/bin/Debug/net7.0/System.Runtime.Caching.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net7.0/System.Security.Permissions.dll
/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/bin/Debug/net7.0/System.Windows.Extensions.dll
/.idea/.idea.PaxDeiBot.dir/.idea/vcs.xml
/.idea/.idea.PaxDeiBot.dir/.idea/.gitignore
